/* Font
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* Global variables
   ========================================================================== */
:root {
  /* font */
  --pri-font: 'Nunito', sans-serif;
  --sec-font: 'PT Sans', sans-serif;

  /* size */
  --size-0: 0.5rem;
  --size-1: 1rem;
  --size-2: 2rem;
  --size-3: 3rem;
  --size-4: 4rem;
  --size-5: 5rem;
  --size-6: 6rem;
  --size-7: 7rem;
  --size-fluid-1: clamp(1rem, 3vw, 1.5rem);
  --size-fluid-2: clamp(1.5rem, 4vw, 2.5rem);
  --size-fluid-3: clamp(3rem, 4vw, 4rem);

  /* color */
  --light-0: hsl(210, 17%, 98%);
  --dark-0: hsl(214, 14%, 10%);
  --accent-dark: hsl(210, 100%, 12%);
  --accent-light: hsl(188, 83%, 37%);

  /* gradient */
  --grad-text: linear-gradient(30deg, var(--accent-light), var(--accent-dark));
  --grad-btn-add: linear-gradient(30deg, var(--accent-light), var(--accent-dark));
  --grad-btn-close: linear-gradient(30deg, rgb(204, 7, 7), rgb(177, 107, 132));

  --grad-pri-bg: repeating-linear-gradient(
      135deg,
      hsla(64, 83%, 54%, 0.05) 0px,
      hsla(64, 83%, 54%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(64, 83%, 54%, 0.05) 11px,
      hsla(64, 83%, 54%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      180deg,
      hsla(64, 83%, 54%, 0.05) 0px,
      hsla(64, 83%, 54%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(64, 83%, 54%, 0.05) 11px,
      hsla(64, 83%, 54%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      90deg,
      hsla(64, 83%, 54%, 0.05) 0px,
      hsla(64, 83%, 54%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(64, 83%, 54%, 0.05) 11px,
      hsla(64, 83%, 54%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      225deg,
      hsla(64, 83%, 54%, 0.05) 0px,
      hsla(64, 83%, 54%, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      hsla(64, 83%, 54%, 0.05) 11px,
      hsla(64, 83%, 54%, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    linear-gradient(180deg, var(--accent-dark) 30%, var(--accent-light));

  /* misc */
  --pri-padding: var(--size-1);
  --pri-transition-time: 250ms;
  --scrollbar-pri-size: 10px;
}

/* Core body defaults
   ========================================================================== */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-color: var(--dark-0);
  background-image: var(--grad-pri-bg);
  background-position: center;
  background-repeat: no-repeat;
  color: var(--light-0);
  font-family: var(--sec-font);
  font-size: var(--size-fluid-1);
  height: 100%;
  scroll-behavior: smooth;
  z-index: 25;
}

header {
  position: relative;
}

main {
  overflow: auto;
  padding: var(--pri-padding);
}

footer {
  background-color: var(--dark-0);
  bottom: 0;
  left: 0;
  padding: var(--pri-padding);
  position: absolute;
  text-align: right;
  width: 100%;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
}

/* Scroll bar
   ========================================================================== */
/* width */
::-webkit-scrollbar {
  width: var(--scrollbar-pri-size);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-0);
  border-radius: var(--scrollbar-pri-size);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-light);
  border-radius: var(--scrollbar-pri-size);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-light);
}

/* Mobile nav
   ========================================================================== */
.hero {
  font-family: var(--pri-font);
  font-weight: 900;
  font-size: var(--size-fluid-2);
}

.hero-logo {
  background-color: var(--dark-0);
  padding: var(--pri-padding);
}

.nav-menu {
  position: absolute;
  top: var(--size-1);
  right: var(--size-1);
  z-index: 100;
}

.sticky-hero {
  position: sticky;
  position: -webkit-sticky; /*Safari/Chrome*/
  top: 0;
  right: 0;
  background-color: var(--dark-0);
}

.pri-nav {
  background-color: var(--dark-0);
  min-height: 100vh;
  min-width: 100%;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  transition: all var(--pri-transition-time) ease;
  z-index: 50;
}

.nav-active {
  transform: translateX(0%);
}

.list {
  display: grid;
  gap: var(--size-1);
  padding: calc(var(--pri-padding) / 2);
}

/* Date
   ========================================================================== */
.day-num {
  grid-area: dayNu;
  font-size: var(--size-fluid-3);
}

.day {
  grid-area: day;
  align-self: end;
}

.month-year {
  grid-area: monYe;
}

.greeting {
  grid-area: greet;
}

.date {
  display: grid;
  align-items: center;
  grid-column-gap: var(--size-0);
  padding: var(--pri-padding);
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: auto;
  grid-template-areas:
    'dayNu day'
    'dayNu monYe'
    'greet greet';
}

/* Modal
   ========================================================================= */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: grid;
  place-content: center;
  background-color: var(--dark-0);
}

.formV01 {
  background-color: var(--dark-0);
  padding: var(--pri-padding);
  border-radius: var(--size-1);
  border: 1px solid var(--light-0);
}

.formV01-heading {
  font-family: var(--pri-font);
}

.formV01 li {
  display: grid;
  gap: var(--size-0);
}

.formV01 .radio-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-1);
  justify-content: center;
  align-items: center;
}

.radio-container p {
  display: flex;
  align-items: center;
  gap: var(--size-0);
}

.formV01-btn {
  background-color: var(--dark-0);
  border-radius: var(--size-0);
  border: 1px solid var(--light-0);
  color: var(--light-0);
  cursor: pointer;
  font-family: var(--pri-font);
  font-weight: 900;
}

.formV01 input[type='radio'] {
  display: inline-block;
}

.formV01-btn-add {
  background-image: var(--grad-btn-add);
}

.formV01-btn-close {
  background-image: var(--grad-btn-close);
}

.btn-container {
  grid-template-columns: 1fr 1fr;
}

.formV01-view-task {
  max-width: 500px;
}

/* Main content
   ========================================================================= */
.project-title {
  text-align: center;
}

#add-task {
  width: max-content;
  margin-left: auto;
}

.task {
  display: flex;
  gap: var(--size-1);
}

.task-name {
  flex-grow: 4;
}

/* Button & Icons
   ========================================================================= */
.iconV01 {
  font-size: var(--size-2);
}

.buttonV01 {
  color: var(--light-0);
}

.buttonV02 {
  cursor: pointer;
  border-radius: var(--size-0);
  padding: calc(var(--pri-padding) / 2);
  transition: all var(--pri-transition-time);
  border: 1px solid var(--light-0);
}

.active,
.buttonV02:hover {
  background-color: var(--accent-light);
  color: var(--dark-0);
}

.buttonV03:hover {
  color: var(--light-0);
}

/* Utility class
   ========================================================================== */
.hidden {
  display: none;
}

.active {
  display: block;
}

.grad-text {
  -webkit-background-clip: text; /*Safari/Chrome*/
  background-clip: text;
  background-image: var(--grad-text);
  color: transparent;
}

.margin-reset {
  margin: 0;
}

/* Animations
   ========================================================================== */
.fadeIn {
  animation: fadeIn forwards;
  /* duration defined in javascript */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Large screens
   ========================================================================== */
/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-menu {
    display: none;
  }

  .pri-nav {
    position: static;
    transform: translateX(0%);
    grid-area: nav;
    padding-top: 0;
  }

  header {
    background-color: var(--dark-0);
    grid-area: head;
  }

  main {
    grid-area: main;
  }

  footer {
    align-self: end;
    grid-area: foot;
    position: static;
  }

  body {
    display: grid;
    grid-template-columns: min(300px);
    grid-template-areas:
      'head main'
      'nav main'
      'foot foot';
  }

  .modal {
    background-color: transparent;
  }

  .sticky-hero {
    display: none;
  }
}
